@import '~toastr/build/toastr.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
      display: inline-block;
      margin-right: 10%;
      float: none;
      vertical-align: top;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }
}
